fastapi[standard]>=0.115.0
uvicorn>=0.30.6
pydantic>=2.9.2
langchain>=0.3.1
langchain-community>=0.3.0
langchain-huggingface>=0.0.3
sentence-transformers>=3.0.0
langchain-chroma>=0.1.4
chromadb>=0.5.5
pypdf>=4.3.1
python-multipart>=0.0.10
SQLAlchemy>=2.0.35
pytest>=8.3.3
python-dotenv>=1.0.1
pytesseract>=0.3.10
pdf2image>=1.17.0
Pillow>=10.2.0
rank_bm25>=0.2.2
sse-starlette>=2.0.0
pyinstaller>=6.10.0
langchain-ollama
PyMuPDF
pdf2image
pillow
pytesseract
